{:deps {:aliases [:dev]}
 :dev-http {8000 "classpath:public"}
 :builds {:main {:target :browser
                 :output-dir "resources/public/js/main"
                 :dev {:compiler-options
                       {:external-config
                        {:fulcro {:html-source-annotations? true}}}}
                 :modules {:main {:init-fn client.core/init
                                  :entries [client.core]}}
                 :devtools {:after-load client.core/refresh
                            :preloads [com.fulcrologic.fulcro.inspect.preload
                                       com.fulcrologic.fulcro.inspect.dom-picker-preload]}}}}
